
interval: 1000

trigger-key: "/service/{{ system_name }}/leader"
trigger-value: "{{ inventory_hostname }}"
ip: {{ vipdb }} # the virtual ip address to manage
netmask: 24 # netmask for the virtual ip
interface: {{ consul_iface }}
hosting-type: basic # possible values: basic, or hetzner.

dcs-type: consul # etcd or consul
dcs-endpoints:
  - http://127.0.0.1:8500

 
consul-token: "{{ consul_raw_key }}"

retry-num: 2
retry-after: 250  #in milliseconds

verbose: false